<% if session[:user_id] == @user.id%>
  <h3>Your Dashboard</h3>
<% else %>
  <h3><%= @user.first_name%>'s Profile</h3>
<% end %>

<ul>
  <% @user.posts.each do |post| %>
    <% if @visiter && @visiter.first %>
      <% if @visiter.first.tier.to_i <= post.tier_id %>
        <li><a href="/users/<%= @user.id %>/posts/<%= post.id %>">Post <%= post.id %></a></li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<% if @user.id == session[:user_id] %>
  <ul>
    <% @user.posts.each do |post| %>
      <li><a href="/users/<%= @user.id %>/posts/<%= post.id %>">Post <%= post.id %></a></li>
    <% end %>
  </ul>
<% end %>

<div >
  <ul>
    <% if session[:user_id] == @user.id%>
      <li><a href="/users/<%= @user.id %>/posts/new">New Post</a></li>
      <li><a href="/users/<%= @user.id %>/tiers/new">New Tier</a></li>
    <% end %>
    <% if session[:user_id] != @user.id %>
      <li><a href="/users/<%= @user.id %>/friends/new">Add <%= @user.first_name %></a></li>
    <% end %>
  </ul>
</div>

